:root {
    --tag-height: 25px;
}

.terp-rater-tag{
    box-sizing: border-box;
    border-radius: 8px;
    margin: auto 0 auto 5px;
    padding: 0 5px 0 5px;
    height: var(--tag-height);

    color: white;
    font-family: "Work Sans";

    display: inline-flex;
    align-items: center;
}

.terp-rater-tag.rating{
    transition: 0.3s;
}

.terp-rater-tag.rating:hover{
    filter: brightness(0.9);
    transform: scale(1.05)
}
