:root{
    --tooltip-distance: 140%;
}

.terp-rater-tooltip{
    box-sizing: border-box;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;

    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;

    bottom: calc(var(--tooltip-distance) + 10px);
    z-index: 1;

    padding: 3px 5px;
    border-radius: 10px;

    color: black;
    background-color: white;
    text-align: center;
    white-space: nowrap;
    font-size: 0.9em;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;

    filter: drop-shadow(2px 2px 2px black);
}

.terp-rater-tooltip::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

.terp-rater-tooltip-visible{
    opacity: 1;
}

.terp-rater-tooltip-container{
    position: relative;
}
