@font-face{
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/WorkSans.ttf')format('truetype');
}

.terp-rater-gpaTag{
    box-sizing: border-box;
    border-radius: 8px;
    margin: auto 0 auto 5px;
    padding: 2px 4px 2px 4px;

    color: white;
    font-family: "Work Sans";
}