@font-face{
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/WorkSans.ttf')format('truetype');
}

.terp-rater-tag{
    box-sizing: border-box;
    border-radius: 8px;
    margin: auto 0 auto 5px;
    padding: 0.15em 0.5em 0.15em 0.5em;

    color: white;
    font-family: "Work Sans";
}

.course-basic-info-container div.thirteen.columns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.section-info-container .section-instructors{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}